body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(80, 184, 233);
    margin: 0;
}

.cabecera {
    background-color: rgb(38, 185, 129);
}

.centrado {
    margin: 0 auto;
    padding: 0 .8em;
}

@media screen and(min-width: 52em) {
    .centrado {
        margin: 0 auto;
        padding: 0 .6em;
    }   
} /*fin media*/

p {
    color: hsl(0, 76%, 3%);   
    text-align: flex-end;
}
#institucional{
    margin-left: 20%;
}

h1 {
    margin: 0 0 1em;
    padding: 1em 0;
    font-weight: 300;
    color: #0c0101;
}

.tarjeta a {
    color: rgb(237, 223, 204);
    text-decoration: none;
}

.tarjeta a:hover {
    text-shadow: 3px 3px 8px rgb(204, 106, 20),
}

.tarjeta-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: normal;
}

.tarjeta-content p {
    font-size: 95%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

figure {
    margin: 0;
}

img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

.imgprin {
    display: block;
    border: 10;
    width: 98%;
    height: 400px;
}

#imglogo{
    width:73px; 
    height:70px; 
}

/*Aca empezamos el Flex*/

.tarjeta {
    margin-bottom: 2em;
    width: 50%;
}

.cards {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-between;
}